# Build output
/bin
/dist
/tmp

# A repository created while trying wits out in the source checkout
/.wits

# Coverage
coverage.out
coverage.html

# Dependency directories
vendor/

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
